<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app id="WebApp_KonaKartAdmin"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
	<display-name>KonaKart Admin App</display-name>

	<description>
		KonaKart Admin Application - includes the AXIS server
	</description>

	<listener>
		<listener-class>
			org.apache.axis.transport.http.AxisHTTPSessionListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>

	<!-- Servlet for RMI Server

	Uncomment this if you want to use RMI
		
		RMI Server parameters:
			port       = The port number where the RMI registry will listen
			rmiEnabled = Enable (true) or Disable (false) the RMI interface

	-->
	
	<!-- RMI Server 
	<servlet>
		<servlet-name>KonakartAdminRMIServlet</servlet-name>
		<servlet-class>
			com.konakartadmin.rmi.KKRMIAdminServer
		</servlet-class>
		<init-param>
			<param-name>port</param-name>
			<param-value>8790</param-value>
		</init-param>
		<init-param>
			<param-name>rmiEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>20</load-on-startup>
	</servlet>
	End of RMI Server -->
	
	<servlet>
		<servlet-name>KonaKartAdminServlet</servlet-name>
		<servlet-class>
			com.konakartadmin.server.KKAdminGWTServiceImpl
		</servlet-class>
		<init-param>
			<param-name>defaultStoreId</param-name>
			<param-value>store1</param-value>
		</init-param>
		<load-on-startup>30</load-on-startup>
	</servlet>

	<!-- Quartz Scheduler 
	<servlet>
		<servlet-name>QuartzInitializer</servlet-name>
		<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>40</load-on-startup>
	</servlet>
	End of Quartz Scheduler -->
	
	<!-- uncomment this if you want the admin servlet -->
	<!-- 
		<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AdminServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	-->
	
	<!-- For Diagnostics only -->
	<!-- 
		<servlet>
		<servlet-name>SOAPMonitorService</servlet-name>
		<servlet-class>
		org.apache.axis.monitor.SOAPMonitorService
		</servlet-class>
		<init-param>
		<param-name>SOAPMonitorPort</param-name>
		<param-value>5001</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
		</servlet>
	-->

	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>
			com.konakartadmin.servlet.FileUpload
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DisplayFile</servlet-name>
		<servlet-class>
			com.konakartadmin.servlet.DisplayFile
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Launcher</servlet-name>
		<servlet-class>
			com.konakartadmin.servlet.AdminAppLauncher
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetPDF</servlet-name>
		<servlet-class>
			com.konakartadmin.servlet.GetPdf
		</servlet-class>
	</servlet>

	<!-- Servlet Mapping -->

	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/uploadAction</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DisplayFile</servlet-name>
		<url-pattern>/displayFile</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Launcher</servlet-name>
		<url-pattern>/launcher</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetPDF</servlet-name>
		<url-pattern>/getPdf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>KonaKartAdminServlet</servlet-name>
		<url-pattern>/konakartadmin</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!-- For Diagnostics only -->
	<!-- 
	<servlet-mapping>
		<servlet-name>SOAPMonitorService</servlet-name>
		<url-pattern>/SOAPMonitor</url-pattern>
	</servlet-mapping>
	-->
	
	<!-- uncomment this if you want the admin servlet -->
	<!-- 
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	-->
	
	<!-- currently the W3C havent settled on a media type for WSDL;
		http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft
		for now we go with the basic 'it's XML' response -->

	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<!-- Welcome File List -->

	<welcome-file-list>
		<welcome-file>KonakartAdmin.html</welcome-file>
	</welcome-file-list>

</web-app>
